/*
 * Mixins & Helpers (Theme+WooCommerce)
---------------------------------------------------------------------------------------------------- */

//* Ombra WooCommerce
@mixin box-shadow {
    @include box-shadow-1;	
}

//* Altre ombre
@mixin box-shadow-1 { // Replico quello di Woo per usarlo nel tema con coerenza
    -webkit-box-shadow: 0px 10px 45px 0px rgba(30, 37, 54, 0.18);
    box-shadow: 0px 2px 5px 0px rgba(30, 37, 54, 0.18);
}

@mixin box-shadow-2 {
    -webkit-box-shadow: 0px 10px 45px 0px rgba(30, 37, 54, 0.18);
    box-shadow: 0px 10px 45px 0px rgba(30, 37, 54, 0.18);
}

@mixin box-shadow-3 {
    -webkit-box-shadow: 0 35px 50px rgba(0, 0, 0, .25);
    box-shadow: 0 17px 50px rgba(0, 0, 0, .25);
}

@mixin box-shadow-4 {
    -webkit-box-shadow: 0 35px 50px rgba(0, 0, 0, .25);
    box-shadow: 0 35px 50px rgba(0, 0, 0, .25);
}

@mixin text-shadow {    
    text-shadow: 0 2px 4px rgba(128, 128, 128, .3);    
}

@mixin text-shadow-dark {    
    text-shadow: 0 2px 4px rgba(0, 0, 0, .3);    
}

@mixin text-shadow-light {    
    text-shadow: 0 3px 2px rgba(255, 255, 255, .4);    
}

@mixin button-shadow($color) {
    -webkit-box-shadow: 0 3px 10px rgba($color, .25);
    box-shadow: 0 3px 10px rgba($color, .25);
}

//* Helper Ombre

.box-shadow-1 {
    @include box-shadow-1;
}

.box-shadow-2 {
    @include box-shadow-2;
}

.box-shadow-3 {
    @include box-shadow-3;
}

.box-shadow-4 {
    @include box-shadow-4;
}

.text-shadow {
    @include text-shadow;
}

.text-shadow-dark {
    @include text-shadow-dark;
}

.text-shadow-light {
    @include text-shadow-light;
}


//* Bordi
@mixin border {
	border: $border;	
}

@mixin border-top {
	border-top: $border;	
}

@mixin border-bottom {
	border-bottom: $border;	
}

//* Gradient
@mixin gradient {
    background: mix($gradient-start, $gradient-end);    
    background: linear-gradient($gradient-angle, $gradient-start, $gradient-end);
}

//* Gradient Text
@mixin text-gradient {
    color: mix($gradient-text-start, $gradient-text-end);
    background: linear-gradient($gradient-text-angle, $gradient-text-start, $gradient-text-end);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    position: relative;
    text-shadow: none;
    color: #FFF;
}

//* Transparent Text or image behind text
@mixin text-transparent {
    color: white;  /* Fallback: assume this color ON TOP of image */
    background: url('/images/hero.jpg') no-repeat;
    background-size: cover; // 
    background-attachment: fixed; // fixed o inherit. Con fixed lo sfondo non si muove insieme alle lettere
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //opacity: .5; // Variando l'opacità si possono creare interessanti effetti, se il testo è posizionato su un'altro sfondo
    
}

.gradient {
    @include gradient;
}

.text-gradient {
    @include text-gradient;
}

.text-transparent {
    @include text-transparent;
}

//* Text size
@mixin text-xsmall {
    font-size: $text-xsmall;
    line-height: $text-xsmall*$ratio;
}
.text-xsmall {
    @include text-xsmall;
}

@mixin text-small {
    font-size: $text-small;
    line-height: $text-small*$ratio;
    
    @media only screen and (max-width: $screen-medium) {
        font-size: $text-xsmall;
        line-height: $text-xsmall*$ratio;
    }

    @media only screen and (max-width: $screen-small) {
        font-size: $text-xxsmall;
        line-height: $text-xxsmall*$ratio;
    }
    
}

.text-small {
    @include text-small;
}

@mixin text-medium {
    font-size: $text-medium;
    line-height: $text-medium*1.5;
    
    @media only screen and (max-width: $screen-medium) {
        //font-size: $text-normal;
        //line-height: $text-normal*$ratio;
    }

    @media only screen and (max-width: $screen-small) {
        //font-size: $text-small;
        //line-height: $text-medium;
    }   

}

.text-medium {
    @include text-medium;
}

@mixin text-large {
    font-size: $text-large;
    
    @media only screen and (max-width: $screen-medium) {
        //font-size: $text-medium + .2rem;
    }

    @media only screen and (max-width: $screen-small) {
        //font-size: $text-medium + .1rem;
    }

}

.text-large {
    @include text-large;
}

@mixin text-xlarge {
    font-size: $text-xlarge;
    
    @media only screen and (max-width: $screen-medium) {
        //font-size: $text-large;
    }

    @media only screen and (max-width: $screen-small) {
        //font-size: $text-large - .6rem;
    }

}

.text-xlarge {
    @include text-xlarge;
}

@mixin text-xxlarge {
    font-size: $text-xxlarge;
    
    @media only screen and (max-width: $screen-medium) {
        font-size: $text-xlarge;
        line-height: $text-xlarge*$ratio;
    }

    @media only screen and (max-width: $screen-small) {
        font-size: $text-large;
        line-height: $text-large * 1.4;
    }

}

.text-xxlarge {
    @include text-xxlarge;
}

@mixin text-xxxlarge {
    font-size: $text-xxxlarge;
    
    @media only screen and (max-width: $screen-medium) {
        font-size: $text-xxlarge;
        line-height: $text-xxlarge*$ratio;
    }

    @media only screen and (max-width: $screen-small) {
        font-size: $text-xlarge;
        line-height: $text-xlarge * 1.4;
    }

}

.text-xxxlarge {
    @include text-xxxlarge;
}

/*
Helper classes. Si utilizzano nell'editor dei post di Wordpress
---------------------------------------------------------------------------------------------------- */

$color2: $color1 !default; 
$color3: $color1 !default; 
$color4: $color1 !default; 

//* Padding

.pvs {
	padding: $padding-small 0;
	overflow: auto;

}

.pvm {
	padding: $padding-medium 0;
	overflow: auto;

}

.pvl {
	padding: $padding-large 0;
	overflow: auto;

}

.pvxl {
	padding: $padding-xlarge 0;
	overflow: auto;

}

.phl {
	padding: 0 $padding-large;
	overflow: auto;

}

.phm {
	padding: 0 $padding-medium;
	overflow: auto;
}

.phs {
	padding: 0 $padding-small;
	overflow: auto;
}

.pl {
	padding: $padding-large;
	overflow: auto;
}

.pm {
	padding: $padding-medium;
	overflow: auto;

}

.ps {
	padding: $padding-small;
	overflow: auto;
}

.ptl {
	padding-top: $padding-large;
	overflow: auto;
}

.nopad {
	padding: 0;
}


//* Margin

.mvs {
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: auto;
}

.mvm {
	margin-bottom: 40px;
	margin-top: 40px;
	overflow: auto;
}

.mvl {
	margin-bottom: 80px;
	margin-top: 80px;
	overflow: auto;
}

.mts {
	margin-top: 20px;
}

.mtm {
	margin-top: 40px;
}

.mtl {
	margin-top: 80px;
}

.mbs {
	margin-bottom: 20px;
}

.mbm {
	margin-bottom: 40px;
}

.mbl {
	margin-bottom: 80px;
}


//* Spacer

.spacer-small {
    margin: 20px auto;
}

.spcer-medium, .spacer, .separator {
    margin: 40px auto;
}

.spacer-large {
    margin: 60px auto;
}

//* Arranger

.center, .align-center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right, .align-right {
	text-align: right !important;
}

//* Colors

.color1 {
	color: $color1;
}

.color2 {
	color: $color2;
}

.color3 {
	color: $color3;
}

.color4 {
	color: $color4;
}

.bk-color1 {
	background-color: $color1;
}

.bk-color2 {
	background-color: $color2;
}

.bk-color3 {
	background-color: $color3;
}

.bk-color4 {
	background-color: $color4;
}

.red {
	color: $red;
} 

.green {
	color: $green;
}

.yellow {
	color: $yellow;
}

.orange {
	color: $orange ;
}

.blue, .blu {
	color: $blue;
}

.black {
	color: #000;
}

.white {
	color: #FFF;
}

.bk-red {
	background-color: $red;
} 

.bk-green {
	background-color: $green;
}

.bk-yellow {
	background-color: $yellow;
}

.bk-orange {
	background-color: $orange ;
}

.bk-blue {
	background-color: $blue ;
}

.bk-black {
	background-color: #000;
}

.bk-white {
	background-color: #FFF;
}

//* Text
.text-light, .color-light {
	color: $color-light !important;
}

.text-dark, .color-dark {
	color: $color-dark !important;
}

.uppercase {
	text-transform: uppercase;
}

.text-separator {
    overflow: hidden;
    text-align: center;
    margin: 40px auto !important;
    
    &:before,
	&:after {
	    background-color: $title-color;
	    content: "";
	    display: inline-block;
	    height: 1px;
	    position: relative;
	    vertical-align: middle;
	    width: 20%;
	}

	&:before {
	    right: 0.5rem;
	    margin-left: -50%;
	}

	&:after {
	    left: 0.5rem;
	    margin-right: -50%;
	}

}

//* Social icons

.facebook,
.youtube,
.twitter,
.pinterest {
	float: left;
	margin-right: 20px;
	
}

.social {
	overflow: auto;	
	display: inline-flex;
}

.facebook {

	i {
		color: #3b5998;
		
		&:hover {
			color: #8b9dc3;
		}		

	}
}

.twitter {

	i {
		color: #0084b4;
		
		&:hover {
			color: #00aced;
		}		

	}
}

.pinterest {
	
	i {
		color: #bd081c;
		
		&:hover {
			color: #d50c22;
		}		

	}
}

.youtube {
	
	i {
		color: #CD201F;
		
		&:hover {
			color: #000000;
		}		

	}
}

//* Responsive classes

.hide-medium {

	@media only screen and (max-width: $screen-medium) and (min-width: $screen-small) {

		display: none;
		
	}
	
}